<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
  <div id="sidebar">
    <ul>
      <li id="logo-list-item">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
      </li>
      <li>
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.304416475">
            <g id="Pickups" transform="translate(-31.000000, -141.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item">
                    <g id="c-pulse" transform="translate(31.000000, 26.000000)">
                      <path
                        d="M6.434,11 L9.143,6.485 C9.33861263,6.15926086 9.70193088,5.9725216 10.0806628,6.00305766 C10.4593946,6.03359371 10.7881017,6.27612896 10.929,6.629 L14.18,14.757 L16.143,11.485 C16.3237575,11.1841387 16.6490146,11.0000668 17,11 L23.95,11 C23.4345626,4.78300097 18.2383293,-0.000252302551 12,-0.000252302551 C5.76167068,-0.000252302551 0.565437445,4.78300097 0.05,11 L6.434,11 Z"
                        id="Path"></path>
                      <path
                        d="M17.566,13 L14.857,17.515 C14.6762425,17.8158613 14.3509854,17.9999332 14,18 L13.92,18 C13.541008,17.9696959 13.2119858,17.7270953 13.071,17.374 L9.82,9.243 L7.857,12.515 C7.67624251,12.8158613 7.35098542,12.9999332 7,13 L0.05,13 C0.565437445,19.216999 5.76167068,24.0002523 12,24.0002523 C18.2383293,24.0002523 23.4345626,19.216999 23.95,13 L17.566,13 Z"
                        id="Path"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Dashboard
      </li>
      <li class="selected">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Pickups" transform="translate(-31.000000, -233.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 92.000000)">
                    <g id="box-3d-50" transform="translate(31.000000, 26.000000)">
                      <path
                        d="M12.994,12.839 L23.016,6.851 L11.504,0.136 C11.189,-0.048 10.798,-0.045 10.485,0.143 L0.993,5.838 L12.994,12.839 Z"
                        id="Path"></path>
                      <path d="M12,14.575 L0,7.575 L0,16 C0,16.355 0.189,16.685 0.496,16.864 L12,23.575 L12,14.575 Z"
                        id="Path"></path>
                      <path
                        d="M14,14.567 L14,23.52 L23.573,16.819 C23.841,16.632 24,16.326 24,16 L24,8.592 L14,14.567 Z"
                        id="Path"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Pickups
      </li>
      <li>
        <svg width="26px" height="25px" viewBox="0 0 26 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.3">
            <g id="Pickups" transform="translate(-30.000000, -325.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 184.000000)">
                    <g id="payee" transform="translate(30.000000, 26.000000)">
                      <path
                        d="M9.75,13 L9.75,13 C6.76,13 4.33333333,9.49108333 4.33333333,6.5 L4.33333333,5.41666667 C4.33333333,2.42512427 6.75845761,0 9.75,0 L9.75,0 C11.1865893,0 12.5643397,0.570682885 13.5801617,1.58650494 C14.5959838,2.60232699 15.1666667,3.98007735 15.1666667,5.41666667 L15.1666667,6.5 C15.1666667,9.49108333 12.7421667,13 9.75,13 Z"
                        id="Path"></path>
                      <path
                        d="M13,20.5833333 C12.9974556,18.816035 13.6150787,17.1038656 14.74525,15.7451667 C13.1065287,15.3690976 11.4312984,15.1750891 9.75,15.1666667 C7.17878014,15.1915528 4.62812113,15.6278786 2.19483333,16.4590833 C0.879091988,16.9065085 -0.0042282354,18.1438544 -1.51134793e-05,19.5335833 L-1.51134793e-05,23.8333333 L13.7399167,23.8333333 C13.253986,22.8187385 13.0011741,21.7082911 13,20.5833333 Z"
                        id="Path"></path>
                      <polygon id="Path"
                        transform="translate(21.125000, 20.583333) scale(-1, 1) translate(-21.125000, -20.583333) "
                        points="21.6666667 16.25 21.6666667 19.5 26 19.5 26 21.6666667 21.6666667 21.6666667 21.6666667 24.9166667 16.25 20.5833333">
                      </polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Donors
      </li>
      <li>

        <svg width="26px" height="25px" viewBox="0 0 26 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.3">
            <g id="Pickups" transform="translate(-30.000000, -414.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 276.000000)">
                    <g id="payee" transform="translate(30.000000, 23.000000)">
                      <path
                        d="M9.75,13 L9.75,13 C6.76,13 4.33333333,9.49108333 4.33333333,6.5 L4.33333333,5.41666667 C4.33333333,2.42512427 6.75845761,0 9.75,0 L9.75,0 C11.1865893,0 12.5643397,0.570682885 13.5801617,1.58650494 C14.5959838,2.60232699 15.1666667,3.98007735 15.1666667,5.41666667 L15.1666667,6.5 C15.1666667,9.49108333 12.7421667,13 9.75,13 Z"
                        id="Path"></path>
                      <path
                        d="M13,20.5833333 C12.9974556,18.816035 13.6150787,17.1038656 14.74525,15.7451667 C13.1065287,15.3690976 11.4312984,15.1750891 9.75,15.1666667 C7.17878014,15.1915528 4.62812113,15.6278786 2.19483333,16.4590833 C0.879091988,16.9065085 -0.0042282354,18.1438544 -1.51134793e-05,19.5335833 L-1.51134793e-05,23.8333333 L13.7399167,23.8333333 C13.253986,22.8187385 13.0011741,21.7082911 13,20.5833333 Z"
                        id="Path"></path>
                      <polygon id="Path"
                        points="21.6666667 16.25 21.6666667 19.5 26 19.5 26 21.6666667 21.6666667 21.6666667 21.6666667 24.9166667 16.25 20.5833333">
                      </polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Recipients
      </li>
      <li>
        <svg width="27px" height="25px" viewBox="0 0 27 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.3">
            <g id="Pickups" transform="translate(-29.000000, -508.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 368.000000)">
                    <g id="delivery" transform="translate(29.000000, 25.000000)">
                      <path d="M7.875,0 L0,0 L0,20.25 L10.125,20.25 L10.125,2.25 C10.125,1.006875 9.118125,0 7.875,0 Z"
                        id="Path"></path>
                      <path
                        d="M26.377875,11.368125 L22.34025,9.349875 L21.34125,5.35275 C21.216375,4.851 20.766375,4.5 20.25,4.5 L18.421875,4.5 L12.375,4.5 C12.375,4.5 12.375,18.507375 12.375,19.125 C12.375,19.742625 12.432375,20.25 12.432375,20.25 C12.715875,22.7745 14.83875,24.75 17.4375,24.75 C20.03625,24.75 22.159125,22.7745 22.442625,20.25 L25.875,20.25 C26.496,20.25 27,19.746 27,19.125 L27,12.375 C27,11.948625 26.75925,11.559375 26.377875,11.368125 Z M17.4375,22.5 C15.88725,22.5 14.625,21.238875 14.625,19.6875 C14.625,18.136125 15.88725,16.875 17.4375,16.875 C18.98775,16.875 20.25,18.136125 20.25,19.6875 C20.25,21.238875 18.98775,22.5 17.4375,22.5 Z M14.625,10.125 L14.625,6.75 L19.512,6.75 L20.25,10.125 L14.625,10.125 Z"
                        id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Drivers
      </li>
      <li>
        <svg width="27px" height="22px" viewBox="0 0 27 22" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.3">
            <g id="Pickups" transform="translate(-27.000000, -601.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 460.000000)">
                    <g id="users-mm" transform="translate(27.000000, 26.000000)">
                      <path
                        d="M26.292375,14.342625 L22.082625,12.655125 C21.6562786,12.4847963 21.3762094,12.0724846 21.375,11.613375 L21.375,10.625625 C22.7637152,9.82867651 23.6215021,8.35113852 23.625,6.75 L23.625,4.6935 C23.678374,2.15480829 21.6636892,0.0534920809 19.125,0 C16.5863108,0.0534920809 14.571626,2.15480829 14.625,4.6935 L14.625,6.75 C14.6284979,8.35113852 15.4862848,9.82867651 16.875,10.625625 L16.875,11.613375 C16.8747089,12.0733056 16.5944818,12.4867408 16.167375,12.657375 L13.717125,13.638375 L15.87825,14.502375 C17.1623551,15.0118748 18.0039914,16.2551403 18,17.636625 L18,20.25 C17.9962713,20.6341196 17.9262425,21.0147109 17.793,21.375 L25.875,21.375 C26.4963203,21.375 27,20.8713203 27,20.25 L27,15.386625 C26.9997089,14.9266944 26.7194818,14.5132592 26.292375,14.342625 Z"
                        id="Path"></path>
                      <path
                        d="M15.042375,16.592625 L10.832625,14.905125 C10.4062786,14.7347963 10.1262094,14.3224846 10.125,13.863375 L10.125,12.875625 C11.5137152,12.0786765 12.3715021,10.6011385 12.375,9 L12.375,6.9435 C12.428374,4.40480829 10.4136892,2.30349208 7.875,2.25 C5.33631078,2.30349208 3.32162601,4.40480829 3.375,6.9435 L3.375,9 C3.37849788,10.6011385 4.23628481,12.0786765 5.625,12.875625 L5.625,13.863375 C5.62470889,14.3233056 5.34448179,14.7367408 4.917375,14.907375 L0.707625,16.594875 C0.281278605,16.7652037 0.00120941474,17.1775154 0,17.636625 L0,20.25 C0,20.8713203 0.503679656,21.375 1.125,21.375 L14.625,21.375 C15.2463203,21.375 15.75,20.8713203 15.75,20.25 L15.75,17.636625 C15.7497089,17.1766944 15.4694818,16.7632592 15.042375,16.592625 Z"
                        id="Path"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Users
      </li>
      <li>
        <svg width="23px" height="28px" viewBox="0 0 23 28" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.3">
            <g id="Pickups" transform="translate(-31.000000, -689.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g id="menu" transform="translate(0.000000, 20.000000)">
                <g id="items" transform="translate(0.000000, 95.000000)">
                  <g id="item" transform="translate(0.000000, 552.000000)">
                    <g id="file-chart-bar" transform="translate(31.000000, 22.000000)">
                      <path
                        d="M21.85,0 L1.15,0 C0.514872538,0 0,0.514872538 0,1.15 L0,26.45 C0,27.0851275 0.514872538,27.6 1.15,27.6 L21.85,27.6 C22.4851275,27.6 23,27.0851275 23,26.45 L23,1.15 C23,0.514872538 22.4851275,0 21.85,0 Z M8.05,19.55 L5.75,19.55 L5.75,14.95 L8.05,14.95 L8.05,19.55 Z M12.65,19.55 L10.35,19.55 L10.35,8.05 L12.65,8.05 L12.65,19.55 Z M17.25,19.55 L14.95,19.55 L14.95,11.5 L17.25,11.5 L17.25,19.55 Z"
                        id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        Reports
      </li>
    </ul>
  </div>
  <div id="main-content">
    <section>
      <h1>
        Pickups
      </h1>
      <button>Request Pickup</button>
    </section>
    <div id="stats-dates-container">
      <section class="flex">
        <article class="box item2">
          <div class="bar"></div>
          <article>
            <h5>
              505
            </h5>
            <p>pending pickups</p>
          </article>
        </article>
        <article class="box item2">
          <div class="bar"></div>
          <article>

            <h5>75</h5>
            <p>active pickups</p>
          </article>
        </article>
        <article class="box item2">
          <div class="bar green"></div>
          <article>
            <h5>627</h5>
            <p>completed pickups</p>
          </article>
        </article>
      </section>
      <div>
        <section class="flex">
          <svg width="285px" height="42px" viewBox="0 0 285 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Pickups" transform="translate(-847.000000, -144.000000)">
                <g id="action-bar" transform="translate(150.000000, 130.000000)">
                  <g id="dates" transform="translate(698.000000, 15.000000)">
                    <rect id="base" stroke-opacity="0.442434031" stroke="#323641" opacity="0.206162952" x="-0.5"
                      y="-0.5" width="284" height="41" rx="3"></rect>
                    <g transform="translate(12.000000, 5.000000)">
                      <g id="triangle-down" transform="translate(251.222222, 12.000000)" fill="#1D1F26"
                        fill-rule="nonzero">
                        <path
                          d="M3.5004375,5 C3.64306133,5 3.77693523,4.93375 3.85874706,4.82208333 L6.92122197,0.655416667 C7.0148462,0.528333333 7.02534612,0.362083333 6.95097172,0.224166667 C6.87528484,0.08625 6.72609857,0 6.5629124,0 L0.437087596,0 C0.273901433,0 0.124715155,0.08625 0.0490282753,0.224166667 C-0.0253461153,0.362083333 -0.0148462013,0.528333333 0.0787780316,0.655416667 L3.14125294,4.82208333 C3.22306477,4.93375 3.35693867,5 3.4995625,5 C3.5,5 3.5,5 3.5004375,5 C3.5,5 3.5,5 3.5004375,5 Z"
                          id="Path"></path>
                      </g>
                      <g id="item" transform="translate(0.222222, 0.000000)">
                        <g id="calendar-date-2" transform="translate(0.000000, 6.000000)" stroke="#78BE20"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path
                            d="M14.5,2.5 L1.5,2.5 C0.948,2.5 0.5,2.948 0.5,3.5 L0.5,14.5 C0.5,15.052 0.948,15.5 1.5,15.5 L14.5,15.5 C15.052,15.5 15.5,15.052 15.5,14.5 L15.5,3.5 C15.5,2.948 15.052,2.5 14.5,2.5 Z"
                            id="Path"></path>
                          <path d="M0.5,5.5 L15.5,5.5" id="Path"></path>
                          <path d="M4.5,0.5 L4.5,2.5" id="Path"></path>
                          <path d="M11.5,0.5 L11.5,2.5" id="Path"></path>
                          <path d="M5.5,7.5 L5.5,13.5" id="Path"></path>
                          <path d="M10.5,7.5 L10.5,13.5" id="Path"></path>
                          <path d="M2.5,10.5 L13.5,10.5" id="Path"></path>
                        </g>
                        <text id="Resolved" font-family="Helvetica" font-size="15" font-weight="normal"
                          line-spacing="28" letter-spacing="0.149999997" fill="#1D1F26">
                          <tspan x="22.229682" y="15">Jan 01, 2020</tspan>
                        </text>
                        <text id="-" font-family="Helvetica" font-size="15" font-weight="normal"
                          letter-spacing="0.149999997" fill="#323641">
                          <tspan x="117" y="20">-</tspan>
                        </text>
                      </g>
                      <g id="item" transform="translate(132.222222, 0.000000)">
                        <g id="calendar-date-2" transform="translate(0.000000, 6.000000)" stroke="#78BE20"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path
                            d="M14.5,2.5 L1.5,2.5 C0.948,2.5 0.5,2.948 0.5,3.5 L0.5,14.5 C0.5,15.052 0.948,15.5 1.5,15.5 L14.5,15.5 C15.052,15.5 15.5,15.052 15.5,14.5 L15.5,3.5 C15.5,2.948 15.052,2.5 14.5,2.5 Z"
                            id="Path"></path>
                          <path d="M0.5,5.5 L15.5,5.5" id="Path"></path>
                          <path d="M4.5,0.5 L4.5,2.5" id="Path"></path>
                          <path d="M11.5,0.5 L11.5,2.5" id="Path"></path>
                          <path d="M5.5,7.5 L5.5,13.5" id="Path"></path>
                          <path d="M10.5,7.5 L10.5,13.5" id="Path"></path>
                          <path d="M2.5,10.5 L13.5,10.5" id="Path"></path>
                        </g>
                        <text id="Resolved" font-family="Helvetica" font-size="15" font-weight="normal"
                          line-spacing="28" letter-spacing="0.149999997" fill="#1D1F26">
                          <tspan x="22.229682" y="15">Dec 31, 2020</tspan>
                        </text>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>

          <svg width="229px" height="42px" viewBox="0 0 229 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Pickups" transform="translate(-1146.000000, -144.000000)">
                <g id="action-bar" transform="translate(150.000000, 130.000000)">
                  <g id="options" transform="translate(997.000000, 15.000000)">
                    <rect id="base" stroke-opacity="0.442434031" stroke="#323641" opacity="0.206162952" x="-0.5"
                      y="-0.5" width="228" height="41" rx="3"></rect>
                    <g id="timezone" transform="translate(25.000000, 6.000000)">
                      <g id="triangle-down" transform="translate(59.222222, 12.000000)" fill="#1D1F26"
                        fill-rule="nonzero">
                        <path
                          d="M3.5004375,5 C3.64306133,5 3.77693523,4.93375 3.85874706,4.82208333 L6.92122197,0.655416667 C7.0148462,0.528333333 7.02534612,0.362083333 6.95097172,0.224166667 C6.87528484,0.08625 6.72609857,0 6.5629124,0 L0.437087596,0 C0.273901433,0 0.124715155,0.08625 0.0490282753,0.224166667 C-0.0253461153,0.362083333 -0.0148462013,0.528333333 0.0787780316,0.655416667 L3.14125294,4.82208333 C3.22306477,4.93375 3.35693867,5 3.4995625,5 C3.5,5 3.5,5 3.5004375,5 C3.5,5 3.5,5 3.5004375,5 Z"
                          id="Path"></path>
                      </g>
                      <g id="item" transform="translate(0.222222, 0.000000)">
                        <g id="globe" transform="translate(0.777778, 7.000000)" stroke="#78BE20" stroke-linecap="round"
                          stroke-linejoin="round">
                          <ellipse id="Oval" cx="7.5" cy="7.5" rx="3" ry="7"></ellipse>
                          <path d="M0.5,7.5 L14.5,7.5" id="Path"></path>
                          <circle id="Oval" cx="7.5" cy="7.5" r="7"></circle>
                        </g>
                        <text id="Resolved" font-family="Helvetica" font-size="15" font-weight="normal"
                          line-spacing="28" letter-spacing="0.149999997" fill="#1D1F26">
                          <tspan x="22.229682" y="15">EST</tspan>
                        </text>
                      </g>
                    </g>
                    <path d="M113.5,0.5 L113.5,39.5" id="Line" stroke-opacity="0.150860126" stroke="#323641"
                      stroke-linecap="square"></path>
                    <g id="export" transform="translate(139.000000, 6.000000)">
                      <g id="share" transform="translate(0.222222, 6.000000)" stroke="#78BE20" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                          d="M3.5,3.5 L1.5,3.5 C0.948,3.5 0.5,3.948 0.5,4.5 L0.5,14.5 C0.5,15.052 0.948,15.5 1.5,15.5 L12.5,15.5 C13.052,15.5 13.5,15.052 13.5,14.5 L13.5,11.5"
                          id="Path"></path>
                        <polyline id="Path" points="11.5 0.5 15.5 4.5 11.5 8.5"></polyline>
                        <path d="M15.5,4.5 L10.5,4.5 C8.291,4.5 6.5,6.291 6.5,8.5 L6.5,10.5" id="Path"></path>
                      </g>
                      <text id="Resolved" font-family="Helvetica" font-size="15" font-weight="normal" line-spacing="28"
                        letter-spacing="0.149999997" fill="#1D1F26">
                        <tspan x="25.4519042" y="15">Export</tspan>
                      </text>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </section>
      </div>
    </div>
    <div id="table">

      <table style="width: 100%; margin-top: 50px;">
        <thead>
          <tr class="main-headers">
            <th>Status </th>
            <th>ID </th>
            <th>Client </th>
            <th>Driver Service </th>
            <th>Pickup Type </th>
            <th>Tax Value ($) </th>
            <th>Weight </th>
            <th>Order Submitted </th>
            <th>Pickup Received </th>
            <th>Pickup Delivered </th>
          </tr>
          <tr class="input-row">
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
            <th><input type="text"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="data">
            <td><span class="color-indicator">
                <svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Pickups" transform="translate(-130.000000, -340.000000)" fill="#78BE20">
                      <g id="table" transform="translate(129.000000, 225.000000)">
                        <g id="rows" transform="translate(0.000000, 92.000000)">
                          <g id="row">
                            <g id="table-row" transform="translate(0.229682, 13.000000)">
                              <circle id="Oval" cx="4.77031802" cy="14" r="4"></circle>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>Delivered</td>
            <td>10312</td>
            <td>1SASSCustom</td>
            <td>Goodr</td>
            <td>OR</td>
            <td>$30</td>
            <td>69.44</td>
            <td>12/18/20 4:02 EST</td>
            <td>12/18/20 4:02 EST</td>
            <td>12/18/20 4:02 EST</td>
            <td>
              <svg width="15px" height="3px" viewBox="0 0 15 3" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Pickups" transform="translate(-1351.000000, -343.000000)" fill="#78BE20" fill-rule="nonzero">
                    <g id="table" transform="translate(129.000000, 225.000000)">
                      <g id="rows" transform="translate(0.000000, 92.000000)">
                        <g id="row">
                          <g id="menu-5" transform="translate(1222.000000, 26.000000)">
                            <circle id="Oval" cx="7.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="1.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="13.5" cy="1.5" r="1.5"></circle>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </td>
          </tr>
          <tr class="data">
            <td><span class="color-indicator">
                <svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Pickups" transform="translate(-130.000000, -396.000000)" fill="#979DA9">
                      <g id="table" transform="translate(129.000000, 225.000000)">
                        <g id="rows" transform="translate(0.000000, 92.000000)">
                          <g id="row" transform="translate(0.000000, 56.000000)">
                            <g id="table-row" transform="translate(0.229682, 13.000000)">
                              <circle id="Oval" cx="4.77031802" cy="14" r="4"></circle>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg></span>Unclaimed</td>
            <td>10312</td>
            <td>1SASSCustom</td>
            <td>Goodr</td>
            <td>OR</td>
            <td>$30</td>
            <td>69.44</td>
            <td>12/18/20 4:02 EST</td>
            <td>-</td>
            <td>-</td>
            <td>
              <svg width="15px" height="3px" viewBox="0 0 15 3" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Pickups" transform="translate(-1351.000000, -343.000000)" fill="#78BE20" fill-rule="nonzero">
                    <g id="table" transform="translate(129.000000, 225.000000)">
                      <g id="rows" transform="translate(0.000000, 92.000000)">
                        <g id="row">
                          <g id="menu-5" transform="translate(1222.000000, 26.000000)">
                            <circle id="Oval" cx="7.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="1.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="13.5" cy="1.5" r="1.5"></circle>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </td>
          </tr>
          <tr class="data">
            <td><span class="color-indicator">
                <svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Pickups" transform="translate(-130.000000, -396.000000)" fill="#979DA9">
                      <g id="table" transform="translate(129.000000, 225.000000)">
                        <g id="rows" transform="translate(0.000000, 92.000000)">
                          <g id="row" transform="translate(0.000000, 56.000000)">
                            <g id="table-row" transform="translate(0.229682, 13.000000)">
                              <circle id="Oval" cx="4.77031802" cy="14" r="4"></circle>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg></span>Unclaimed</td>
            <td>10312</td>
            <td>1SASSCustom</td>
            <td>Goodr</td>
            <td>OR</td>
            <td>$30</td>
            <td>69.44</td>
            <td>12/18/20 4:02 EST</td>
            <td>-</td>
            <td>-</td>
            <td>
              <svg width="15px" height="3px" viewBox="0 0 15 3" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="UI-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Pickups" transform="translate(-1351.000000, -343.000000)" fill="#78BE20" fill-rule="nonzero">
                    <g id="table" transform="translate(129.000000, 225.000000)">
                      <g id="rows" transform="translate(0.000000, 92.000000)">
                        <g id="row">
                          <g id="menu-5" transform="translate(1222.000000, 26.000000)">
                            <circle id="Oval" cx="7.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="1.5" cy="1.5" r="1.5"></circle>
                            <circle id="Oval" cx="13.5" cy="1.5" r="1.5"></circle>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <article style="font-family: 'proxima-nova'; margin-top: 25px; font-weight: 500;">
          1,280 records
        </article>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>